@page "/add-tenting-period/{bnbid?}"
@using Microsoft.Extensions.Logging;
@using System.Text.Json;
@using System.Net.Http;
@using System.Text.Json.Serialization;
@using Mybnb.dtolibrary.DTOs.BNB;
@using System.Net.Http.Headers;
@inject IJSRuntime jsr;
@inject ILogger<CreateBNB> Logger

@if (string.IsNullOrEmpty(userdata))
{
	<p><a href="/login">LOGIN FOR AT SE DENNE</a></p>
}
else
{
    @if (success)
    {
        <h2>Din bolig er nu oprettet i vores system</h2>
    }
    <EditForm Model="@rentingPeriodRequest" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label for="StartDate">Start Date: <InputDate id="StartDate" @bind-Value="rentingPeriodRequest.StartDate" />
        </label><br />
        <label for="EndDate"> End Date:
        <InputDate id="EndDate" @bind-Value="rentingPeriodRequest.EndDate" />
        </label><br />
        <label for="DailyPrice"> DailyPricde
            <InputNumber id="DailyPrice" @bind-Value="rentingPeriodRequest.DailyPrice" />
        </label>
        <br />
        <label for="ZipCode"> Minimum days.
            <InputNumber id="ZipCode" @bind-Value="rentingPeriodRequest.MinimumRentingDays" />
        </label>
        <br />

        <button type="submit">Submit</button>
    </EditForm>
}

@code {
    [Parameter]
    public string? bnbid { get; set; }

    private PossibleRentingPeriodRequest rentingPeriodRequest = new();
    private bool success = false;
    private string userdata;

    private async Task<string> GetJWT()
    {
        if (!string.IsNullOrWhiteSpace(userdata))
        {
            var dataArray = userdata.Split(';', 2);
            if (dataArray.Length == 2)
                return dataArray[1];
        }
        return null;
    }

    private async void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        // Process the valid form
        HttpClient httpClient = new HttpClient();
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await GetJWT());
        var request = new mybnbApiClient("https://localhost:7258", httpClient);

        var response = await request.CreatePossibleRentingPeriodsAsync(int.Parse(bnbid), rentingPeriodRequest);

        if (response != null)
        {
            success = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userdata = await jsr.InvokeAsync<string>("localStorage.getItem", "user").ConfigureAwait(false);
            InvokeAsync(StateHasChanged);
        }
    }
    
}